#light {
    border: 1px solid black;
    width: 150px;
    height: 325px;
    margin: auto;
    padding: 10px;
    background-color: rgb(170, 170, 170);
}

#red {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid black;
    background-color: crimson;
}

#yellow {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid black;
    background-color: yellow;
}

#green{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid black;
    background-color: green;
}

.button {
    margin: auto;
    display: flex;
}