#colorblock {
    background-color: #fecee2;
    font-family: Georgia, serif;
}

.box {
    width: 350px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: #bce5d6;
}

h2 {
    text-align: center;
    margin: auto;
    padding: 10px;
    padding-bottom: 20px;
}

#yesno {
    background-color: #fdffab;
    font-size: 30px;
}

.container {
    background-color: #ffaaa5;
}

.container1 {
    padding: 20px;
    margin: auto;
    text-align: center;
}

#trivia {
    background-color: #fdffab;
    font-size: 30px;
}

#triviablock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 4px solid #bce5d6;
    
}
#triviabubble {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 4px solid #bce5d6;
    
}

.container1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 4px solid #bce5d6;
}